.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 53px);
    justify-content: center;
    column-gap: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 90px;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
